@media (max-width: 1024px) {
    /* header responsive */
    .navbar, .icons {
        display: none;
    }
    .burger {
        display: block;
        font-size: 24px;
        cursor: pointer;
    }
    .burger-menu {
        display: none;
        position: absolute;
        top: 60px;
        left: 0;
        right: 0;
        background-color: #fff;
        padding: 20px;
        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    }
    .burger-menu.open {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .burger-ul-el {
        display: flex;
        flex-direction: column;
        gap: 15px;
        align-items: left;
    }

    /* section 1 responsive */
    .section1 {
        width: 86%;
        flex-direction: column-reverse;
    }
    .section-1-left {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
    }
    .main-title p {
        margin-left: auto;
        margin-right: auto;
    }
    .section-1-right {
        display: none;
    }
    /* section 2 responsive */
    .plate {
        width: 100%;
    }
    .re-5, .re-6 {
        display: none;
    }
    /* section 3 responsive */
    .tiny-green {
        top: 5%;
        left: 5%;
    }
    .about {
        left: 5%;
        bottom: 5%;
    }
    /* section 4 responsive */
    .review-box {
        width: 100%;
    }
    .box-3, .box-4 {
        display: none;
    }
    /* footer responsive */
    .footer {
        flex-direction: column-reverse;
        row-gap: 30px;
        justify-content: center;
        text-align: center;
    }
    .footer-nav {
        justify-content: center;
        align-items: center;
    }
}

@media (max-width: 764px) {
    /* section 2 */
    .section-2-title {
        flex-direction: column;
        row-gap: 15px;
        text-align: center;
    }
    .re-4 {
        display: none;
    }
}
@media (max-width: 500px) {
    .footer-nav {
        flex-direction: column;
        row-gap: 5px;
    }
    .menu-bar h3, .categories h3, .social h3 {
        margin: 0;
    }
    .footer-ul, .foot-ul {
        display: none;
    }
}